<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Saavedra Constructora</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <!-- comment -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!--<link href="/static/loginStyle.css" rel="stylesheet">-->
    <script src="/static/javascript/item.js"></script>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid d-flex">
        <a class="navbar-brand" href="#">Saavedra</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-end" id="collapsibleNavbar">
            <div class="">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Supervisor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/trabajo}">Trabajo</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- Formulario -->
<div class="container mt-4 as-destacados">
    <div class="row">
        <div class="col-md-12">

            <h2 class="display-2 p-5 text-center">Crear un Trabajo</h2>
            <!-- TODO <h5 th:text="${errM}" class="text-center text-danger"></h5> -->
            <form method="post" th:action="@{/user/guardar}"
                  th:object="${trabajo}">
                <div class="mb-3">
                    <label for="Local" class="form-label">Local</label>
                    <select class="form-control" id="Local" th:field="*{departamento}">
                        <option th:each="dep: ${departamentos}" th:value="${dep.id}"
                                th:text="${dep.nombre}"></option>
                    </select>
                </div>
                <div id="items-section" class="d-flex flex-column align-items-center">
                    <div class="d-flex justify-content-center pt-3 pb-3">
                        <button type="button" class="btn btn-primary" onclick="agregarItem()">Agregar Item</button>
                    </div>
                    <table class="table w-100">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <!--<th>Monto</th>-->
                            <th>Agregar</th>
                            <th>Eliminar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div class="d-flex justify-content-around">
                            <tr th:each="item, itemStat : ${trabajo.items}" class="item-rowe">
                                <td>
                                    <input type="text" class="form-control"
                                           th:field="*{items[__${itemStat.index}__].nombre}"/>
                                </td>
                                <td>
                                    <input type="number" class="form-control"
                                           th:field="*{items[__${itemStat.index}__].monto}"/>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" onclick="eliminarItem(this)">Eliminar
                                    </button>
                                </td>
                            </tr>
                        </div>
                        <div class="d-flex justify-content-around">
                            <tr class="item-row d-none" id="item-row-template">
                                <td>
                                    <input type="text" class="form-control"
                                           th:field="*{items[__${#lists.size(trabajo.items)}__].nombre}"
                                           placeholder="Detalle"/>
                                </td>
                                <td>
                                    <input type="number" class="form-control"
                                           th:field="*{items[__${#lists.size(trabajo.items)}__].monto}" readonly
                                           value="0" placeholder="Por definir"/>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" onclick="eliminarItem(this)">(-)
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" onclick="agregarItem(this)">(+)
                                    </button>
                                </td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </div>
                <div class="mb-3">
                    <label for="usuario" class="form-label">Usuario</label>
                    <input type="text" class="form-control" th:field="*{usuario}" id="usuario"
                           th:placeholder="${usuario.name + ' ' + usuario.lastname}"
                           readonly="readonly" th:value="${usuario.id}"/>
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Estado</label>
                    <select class="form-control" id="status" th:field="*{status}">
                        <option th:each="st: ${status}" th:value="${st.id}"
                                th:text="${st.name}"
                                th:selected="${st.id == 1}"
                                th:disabled="${st.id != 1}">
                        </option>
                    </select>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>