<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Saavedra Constructora</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <!-- comment -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid d-flex">
        <a class="navbar-brand" th:href="@{/admin/cotizacion/home/}">Saavedra</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-end" id="collapsibleNavbar">
            <div class="">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/personal/buscar}">Personal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/cotizacion/crear}">Crear Cotización</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/cotizacion/buscar}">Buscar</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!--Body-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 pt-4 d-flex justify-content-center">
            <h2 class="display-2">Detalle de la cotización</h2>
        </div>
        <div class="col-md-12 pt-4 d-flex justify-content-center">
            <h4 class="display-4" th:text="${cotizacion.motivo}"></h4>
        </div>
        <div class="col-sm-12 col-md-6 pt-4 ">
            <div class="d-flex justify-content-center">
                <h6>ID: <span th:text="${cotizacion.id}"></span></h6>
            </div>
            <div class="d-flex justify-content-center">
                <h6> Fecha: <span th:text="${#temporals.format(cotizacion.fecha_cotizacion, 'dd/MM/yyyy')}"></span></h6>
            </div>
            <div class="d-flex justify-content-center">
                <h4>Local: <span th:text="${cotizacion.departamento.nombre}"></span></h4>
            </div>
            <div class="d-flex justify-content-center">
                <h4>Descripción: </h4>
            </div>
            <div class="d-flex justify-content-center pe-4 ps-4">
                <h6 th:text="${cotizacion.descripcion}"></h6>
            </div>
            <div class="d-flex justify-content-center">
                <h4>Monto: $<span th:text="${#numbers.formatDecimal(cotizacion.monto, 0, 'POINT', 0, 'COMMA')}"></span>
                </h4>
            </div>
        </div>
        <!--<div class="col-sm-12 col-md-6 pt-4">
            <div class="d-flex justify-content-center">
                <h4>Dirección del local: </h4>
            </div>
            <div class="d-flex justify-content-center">
                <h6>
                    Region: <span th:text="${cotizacion.departamento.comuna.region.nombre}"></span> <br/>
                    Comuna: <span th:text="${cotizacion.departamento.comuna.nombre}"></span> <br/>
                    <span th:text="${cotizacion.departamento.direccion}"></span> <br/>
                </h6>
            </div>
        </div>-->
        <div class="col-sm-12 col-md-6 pt-4 d-flex justify-content-center">
            <div class="container-fluid">
                <div class="d-flex justify-content-center">
                    <h4>Empleados en el local: </h4>
                </div>
                <div th:each="empleado: ${cotizacion.departamento.supervisors}">
                    <div class="d-flex justify-content-center">
                        <h6>Nombre:
                            <span th:text="${empleado.nombre}"></span>
                            <span th:text="${empleado.apellido}"></span>
                        </h6>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h6>Cargo:
                            <span th:text="${empleado.cargo}"></span>
                        </h6>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h6>Correo:
                            <span th:text="${empleado.correo}"></span>
                        </h6>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h6>Teléfono:
                            <span th:text="${empleado.telefono}"></span>
                        </h6>
                    </div>
                    <hr class="hr"/>
                </div>
                <div th:each="gerente: ${cotizacion.departamento.gerentes}">
                    <div class="d-flex justify-content-center">
                        <h6>Nombre:
                            <span th:text="${gerente.nombre}"></span>
                            <span th:text="${gerente.apellido}"></span>
                        </h6>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h6>Cargo:
                            <span th:text="${gerente.cargo}"></span>
                        </h6>
                    </div>
                    <hr class="hr"/>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 pt-4 pb-4 m-2">
            <div class="d-flex justify-content-around">
                <a th:href="@{/admin/cotizacion/update/__${cotizacion.id}__}">
                    <button class="btn btn-primary">Editar</button>
                </a>
                <form  method="post" th:action="@{/admin/cotizacion/delete/__${cotizacion.id}__}">
                    <input type="hidden" name="_method" value="delete"/>
                    <button class="btn btn-danger" type="submit" onclick="return confirm('¿Esta seguro que desea eliminar esta cotización?');" >Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>